body {
  background-color: #fafafa;
  color: #4c5454;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Noto Sans Bengali UI', 'Merriweather Sans', 'Open Sans', serif;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: gray;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(212, 212, 212);
}

h1,
h2,
h3,
h4,
p,
li,
dt,
dd {
  font-family: 'Noto Sans Bengali UI', 'Merriweather Sans', serif;
}
a {
  color: #030404;
  text-decoration: none;
  transition: color ease 0.7s;
  -webkit-transition: color ease 0.7s;

  &:visited {
    color: #030404;
    text-decoration: none;
    transition: color ease 0.7s;
    -webkit-transition: color ease 0.7s;
  }

  &:focus,
  &:hover {
    color: gray;
  }
}
h1 {
  font-weight: 400;
}
h2 {
  font-weight: 300;
}

@font-face {
  font-family: 'icons';
  src: url('~/assets/fonts/icons.eot');
  src: url('~/assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('~/assets/fonts/icons.woff') format('woff'),
    url('~/assets/fonts/icons.ttf') format('truetype'),
    url('~/assets/fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-ghost,
.icon-feed {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
.nuxt-content {
  margin: 3em auto;
  max-width: 600px;
  width: 90%;
}
.nuxt-content {
  p {
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
  }
  blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1em;
    p {
      font-family: 'Noto Sans Bengali UI', 'Merriweather Sans', serif;
      font-size: 1.4em;
      font-weight: 300;
      line-height: 1.2em;
      font-style: italic;
      &:before {
        content: 'ÔÑç ';
        font-family: 'FontAwesome';
        font-size: 1.5em;
        vertical-align: text-top;
      }
      em {
        color: black;
        float: right;
        font-size: 0.8em;
      }
    }
  }
}
.nuxt-content p img {
  width: 60%;
  float: left;
  margin-right: 15px;
}
.nuxt-content p img[src$='#fluid-image'] {
  float: none;
  width: 100%;
  margin-right: 0;
}
.main-content {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 30px;
  box-sizing: border-box;
  @media screen and (max-width: 1280px) {
    height: auto;
    overflow-y: visible;
  }
}
nav {
  border-bottom: 1px solid #ecf0f1;
  border-top: 1px solid #ecf0f1;
  margin: 20px auto 2em auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 600px;
  font-family: 'Noto Sans Bengali UI', 'Merriweather Sans', serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #4c5454;
  padding: 0.5em 0;
  p {
    color: gray;
    margin: 0;
  }
  .disable-link {
    color: gray;
    pointer-events: none;
  }
}
.pagination-numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a {
    margin: 5px 10px;
  }
  .active {
    color: gray;
  }
}

.social {
  display: flex;
  align-items: center;
  svg {
    font-size: 22px;
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
    transition: top 0.5s;
    &:hover {
      color: gray;
    }
  }
}

.post-title {
  color: #151515;
  font-family: 'Noto Sans Bengali UI', 'Merriweather Sans', serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.top-date {
  display: block;
  text-align: center;
  color: #95a5a6;
  font-family: 'Noto Sans Bengali UI', 'Merriweather Sans', serif;
  font-size: 20px;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 1.2em;
  text-transform: uppercase;
}
.footnote-ref {
  font-size: 19px;
  font-weight: bold;
  color: #4c5454;
  cursor: pointer;
}
.footnotes {
  ol {
    padding-left: 14px;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
    list-style-type: bengali;
  }
}
